<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>us.stad.uzzu.transform</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>/Users/mush/src/m3u8-fixer/uzzu-transform.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>7</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>23</integer>
      </dict>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/mush/volumes/channels/m3u8</string>
    <key>StandardErrorPath</key>
    <string>/Users/mush/volumes/channels/m3u8/uzzu-error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/mush/volumes/channels/m3u8/uzzu-output.log</string>
  </dict>
</plist>